div.center{
    text-align:center; padding-top: 200px;
}

input[type=text]{
    width: 600px; height: 20px; text-align: left; font-size: 15px; font-weight: 600;
}

div.search-form-box{
    text-align: center; webkit-appearance: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    border-color: lightgray;
}

ul.left li{
    display: block;
    width: 60px;
    font-size: 15px;
    background-color: lightgray; background-size: contain;
    float: left;
    padding: 14px;
    margin-top: 300px;
    margin-right: auto;
    
}

ul.right li{
    display: block;
    width: 60px;
    font-size: 15px;
    background-color: lightgray; background-size: contain;
    float: right;
    padding: 14px;
    margin-top: 300px;
    margin-left: auto;
}

a{
    color: #544F4F;
    font-style: normal;
}

a:link{
   color: #544F4F;
   font-style: normal;
   text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    font-style: normal;
    text-decoration: underline;
}